<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragment.html :: header('Organization Create Page')">
</head>
<body>
<header>
</header>
<main>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto">
                <form th:method="post" th:action="@{/project/create/{id}(id=${id})}" enctype="multipart/form-data">


                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name"/>
                    </div>



                    <div class="form-group">
                        <label for="email">Description</label>
                        <input type="text" class="form-control" name="description" id="email"/>
                    </div>
                    <div class="form-group">
                        <label for="logo">TZ</label>
                        <input type="text" class="form-control" id="logo" name="tz"/>
                    </div>

                    <button type="submit" class="btn btn-primary">➕ Save</button>
                </form>
            </div>
        </div>
    </div>
</main>
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.6.1/js/bootstrap.min.js"></script>
</body>
</html>