<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{./static/css/index3.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Red+Hat+Display&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <main>
            <div class="menu-bar">
                <i class="fas fa-bars"></i>
            </div>
            <div class="logo">
                <img th:src="@{../static/images/logo.png}" alt="">
            </div>
    
            <div class="link">
                <a  th:href="@{/}"> -- Home
                </a>
                <a href="#">Task manager</a>
                <a href="#">Inbox</a>
                <a href="#">Contacts</a>
            </div>
        </main>
    
        <aside>
            <nav>
                <div class="input">
                    <div>
                        <i class="fas fa-search"></i>
                    </div>
                   
                    <input type="text" placeholder="Search">
                </div>
    
                <div class="user-information">
                    <div class="icon">
                        <img th:src="@{../static/images/bell.png}" alt="">
                        <i class="far fa-envelope"></i>
                    </div>    
                    
                    <div class="user">
                        <img th:src="@{../static/images/useer.png}" alt="">
                        <p>Azhar I.
                            <i class="fas fa-angle-down"></i>
                        </p>
                    </div>
    
                </div> 
            </nav>

            <div class="container">
                <h4>Task name</h4>

                <div class="contents">
                    <div class="content-actions">
                        <h5>Actions</h5>
                        <div class="actions-box">
                            <h6>CRM system design</h6>
                            <p><b>Activity: </b>12/04/2021, 6:37 p.m </p>
                            <p>Приступил(-а) к задаче</p>
                            <span>
                                <img th:src="@{/images/Ellipse.png}" alt="">Azhar
                            </span>
                        </div>

                        <div class="actions-box">
                            <h6>CRM system design</h6>
                            <p><b>Activity: </b>12/04/2021, 6:37 p.m </p>
                            <p>Приступил(-а) к задаче</p>
                            <span>
                                <img th:src="@{/images/Ellipse.png}" alt="">Azhar
                            </span>
                        </div>

                        <div class="actions-box">
                            <h6>CRM system design</h6>
                            <p><b>Activity: </b>12/04/2021, 6:37 p.m </p>
                            <p>Приступил(-а) к задаче</p>
                            <span>
                                <img th:src="@{/images/Ellipse.png}" alt="">Azhar
                            </span>
                        </div>

                        <div class="actions-box">
                            <h6>CRM system design</h6>
                            <p><b>Activity: </b>12/04/2021, 6:37 p.m </p>
                            <p>Приступил(-а) к задаче</p>
                            <span>
                                <img th:src="@{/images/Ellipse.png}" alt="">Azhar
                            </span>
                        </div>

                        <div class="actions-box">
                            <h6>CRM system design</h6>
                            <p><b>Activity: </b>12/04/2021, 6:37 p.m </p>
                            <p>Приступил(-а) к задаче</p>
                            <span>
                                <img th:src="@{/images/Ellipse.png}" alt="">Azhar
                            </span>
                        </div>
                    </div>
                    <div class="container-box">
                        <div class="content-box">
                            <p>Добавить статистику по задачам, часам.
                                Сделать сбор статистики за текущий месяц и создание уведомления в последний день месяца.</p>
                        </div>
                        <div class="content-box">
                            <textarea placeholder="Комментарий..." id="" cols="10" rows="3"></textarea>
                            <button type="submit">Опубликовать</button>
                        </div>

                        <div class="content-box">
                            <div class="flex">
                                <p class="box-text"> <img th:src="@{/images/avatar.png}" alt="">Artur </p>
                                <p>12/04/2021, 6:37 p.m</p>
                            </div>
                            
                            <span>1. Добавлены шаблонные теги для подсчёта часов, потраченных на закрытые задачи.</span>
                        </div>
                    </div>
                    <div class="content-status">
                        <div class="status">
                            <div class="status-text">
                                <p>Priority:</p>
                                <button class="low">Low</button>
                            </div>

                            <div class="status-text">
                                <p>Priority:</p>
                                <span>Frozen</span>
                            </div>

                            <div class="status-text">
                                <p>Priority:</p>
                                <span>12/04/2021</span>
                            </div>

                            <div class="status-text">
                                <p>Priority:</p>
                                <span>21/04/2021</span>
                            </div>

                            <div class="status-text">
                                <p>Priority:</p>
                                <span>Adyl, Azhar, Arthur</span>
                            </div>
                        </div>

                        <div class="btn">
                            <button type="submit">Change the priority
                                <img th:src="@{/images/down.png}" alt="">
                            </button>

                            <button type="submit">Change the priority
                                <img th:src="@{/images/down.png}" alt="">
                            </button>

                            <button type="submit">
                                <img th:src="@{/images/usercheck.png}" alt="">Become a participant
                            </button>

                            <button type="submit">
                                <img th:src="@{/images/ion_snow.png}" alt="">Freeze the task
                            </button>

                            <button type="submit">
                                <img th:src="@{/images/check.png}" alt="">Close task
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    
    </header>
    
    <script>
        const menu = document.querySelector(".menu-bar")
        const main = document.querySelector("main")
        menu.addEventListener("click", () => {
            main.classList.toggle("open")
        })
    </script>
</body>
</html>