* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik;
}

.dropbtn {
  background-color: yellow;
  color: black;
  padding: 10px;
  font-size: 12px;
}
.dropdown {
  display: inline-block;
  position: relative
}
.dropdown-content {
  position: absolute;
  background-color: lightgrey;
  min-width: 200px;
  display: none;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/*.dropdown-content a:hover {*/
/*  background-color: orange;*/
/*}*/
.dropdown:hover .dropdown-content {
  display: block;
}
/*.dropdown:hover .dropbtn {*/
/*  background-color: grey;*/
/*}*/
header {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;
 overflow: auto;
}

header main {
  width: 100%;
  height: 100vh;
  background: #f8f8fb;
  padding: 130px 0 0 80px;
}

.menu-bar {
  width: 40px;
  padding: 5px;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  display: none;
}

.link {
  margin-top: 100px;
}

.link a {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  margin: 30px 0;
}

.link a:first-child {
  font-style: normal;
  font-weight: 500;
}

aside nav {
  width: 100%;
  height: 100px;
  background: #ffffff;
  box-shadow: 1px 2px 11px rgba(148, 148, 148, 0.25);
}

nav {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 350px;
}

nav .input {
  display: flex;
  align-items: center;
  padding: 22px 25px;
}

.input .fa-search {
  position: relative;
  top: 0px;
  left: 50px;
}

.input input {
  padding: 0 50px;
  width: 70%;
  height: 56px;
  background: #ffffff;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  border-radius: 101px;
  outline: none;
}

.input input::placeholder {
  font-size: 18px;
}

.user-information {
  display: flex;
  align-items: center;
  gap: 30px;
}

.icon {
  display: flex;
  align-items: center;
  gap: 40px;
}

.icon img {
  width: 28px;
  height: 28px;
}

.icon i {
  width: 28px;
  height: 28px;
  font-size: 28px;
}

.user {
  display: flex;
  align-items: center;
  gap: 13px;
}

.user p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.container {
  width: 100%;
  padding: 10px 20px 60px 20px;
}

.content {
  display: grid;
  grid-template-columns: 750px 300px;
  gap: 20px;
  height: 270px;
  border-radius: 17px;
  margin-top: 10px;
}

.contents,
.content-box {
  background: #f6f6f6;
  border-radius: 17px;
  margin-top: 20px;
  padding: 22px;
}

.content-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-text p {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.content-text p:last-child {
  font-weight: 500;
  font-size: 18px;
}

.box {
  margin: 10px 0;
  padding: 23px 24px;
  width: 100%;
  height: 55px;
  background: #e0e4ea;
  border-radius: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box p {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.box .box-text span {
  margin: 0 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.content-box .box-text p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.content-box .box-text span {
  margin: 4px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* 

===================  Responsive ================

*/

@media (max-width: 1450px) {
  header {
    display: grid;
    grid-template-columns: 60px 1fr;
  }

  main {
    position: fixed;
    top: 0;
    left: 0;
  }

  header main {
    width: 300px;
    height: 100%;
    position: relative;
    top: 0;
    left: -250px;
    transition: 1s;
    z-index: 2;
  }

  .menu-bar {
    display: block;
    position: fixed;
    top: 20px;
    left: 15px;
  }

  .open {
    width: 300px;
    position: relative;
    top: 0;
    left: 0px;
    z-index: 1;
    transition: 1s;
  }
}

@media (max-width: 1175px) {
  header {
    overflow-y: scroll;
  }
  .content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
  }
}

@media (max-width: 800px) {
  .box {
    display: block;
    height: 120px;
    padding: 10px;
  }

  .box-text span {
    display: block;
    text-align: left;
    margin: 20px 0;
  }
}

@media (max-width: 630px) {
  .user-information {
    width: 50px;
    display: block;
  }

  .user {
    display: block;
    margin: 0;
  }

  nav {
    display: block;
  }

  .icon,
  .user {
    display: none;
  }

  .container {
    width: 450px;
    padding: 0;
  }
}

@media (max-width: 610px) {
  .content {
    width: 400px;
  }
}

@media (max-width: 510px) {
  .content {
    width: 280px;
  }

  .container {
    width: 300px;
    padding: 0;
    margin: 0;
  }
}
